{% load static %}

<header class="main-header header-with-top sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand company-logo" href="{% url 'home' %}">
                <img src="{% static 'img/logos/logo.png' %}" alt="Rentas Chile">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="collapse navbar-collapse justify-content-end w-100">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}" style="color: #F0F0F0;">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'yourhouses' %}" style="color: #F0F0F0; border-radius: 0.5rem 0.5rem 0 0;">Sé un anfitrión</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="border-radius:0 0 0.5rem 0.5rem;">
                            <div class="profile-pic-container">
                                {% if request.session.profile_pic %}
                                    <img src="{{ request.session.profile_pic }}" alt="Perfil">
                                {% else %}
                                    <img src="{% static 'img/profile_pic_thumbnail.png' %}" alt="Perfil">
                                {% endif %}
                            </div>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if request.session.username %}
                                <li><a class="dropdown-item" href="{% url 'profile' %}" style="color:#F0F0F0">{{ request.session.username }}</a></li>
                                <li><a class="dropdown-item" href="{% url 'myGuests' %}" style="color:#F0F0F0">Mis huéspedes</a></li>
                                <li><a class="dropdown-item" href="{% url 'myRents' %}" style="color:#F0F0F0">Mis reservas</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}" style="color:#F0F0F0">Cerrar sesión</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'signin' %}" style="color:#F0F0F0">Iniciar sesión</a></li>
                                <li><a class="dropdown-item" href="{% url 'signup' %}" style="color:#F0F0F0">Registrarse</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'help' %}" style="color:#F0F0F0">Ayuda</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>