{% extends 'base/base.html' %}
{% load static %}
{% block title %}Cuentas | Registrarse{% endblock %}
{% block content %}

<div class="container">
    {% include 'includes/messages.html' %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Registrarse</h5>
                    <form class="form-signin" method="post">
                        {% csrf_token %}
                        <div class="form-label-group">
                            <input type="text" id="inputFirstName" name="firstname" class="form-control" placeholder="Nombre" required autofocus value="{{ firstname|default:'' }}">
                            <label for="inputFirstName">Nombre</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="inputLastName" name="lastname" class="form-control" placeholder="Apellido" required value="{{ lastname|default:'' }}">
                            <label for="inputLastName">Apellido</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="inputRUT" name="rut" class="form-control" placeholder="RUT (sin puntos y con guión)" required>
                            <label for="inputRUT">RUT*</label>
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Nombre de usuario" required value="{{ username|default:'' }}">
                            <label for="inputUsername">Nombre de usuario*</label>
                        </div>
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Correo electrónico" required value="{{ email|default:'' }}">
                            <label for="inputEmail">Correo electrónico*</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Contraseña" required>
                            <label for="inputPassword">Contraseña</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" name="confirmpassword" class="form-control" placeholder="Confirmar Contraseña" required>
                            <label for="inputConfirmPassword">Confirmar Contraseña</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Crear Cuenta</button>
                        <hr class="my-4">
                        <a href="{% url 'signin' %}" class="btn btn-lg btn-secondary btn-block text-uppercase">Iniciar Sesión</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}